<ion-view class="settings-view">
<!--   <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons> -->
  <ion-nav-title>
    <span>Settings</span>
  </ion-nav-title>

  <ion-content>
       
    <ul class="list">
      

	 
	 
	
      <div class="item item-divider">Prefered language </div>

	
      <ion-list ng-repeat="lang in allow_lang">
                    <ion-radio  class="radioptions" ng-checked="lang.language_id == getlang.language_id" ng-click="patient_language({{lang.language_id}})" ng-value="{{lang.language_id}}">{{lang.language}} --{{lang.language_id}}--{{getlang.language_id}}</ion-radio>		  
		</ion-list> 
	 
	 

      
    </ul>
  </ion-content>
</ion-view>
